@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}